* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:last-child {
  margin-bottom: 0;
}
html {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  background-color: #ffffff;
  color: #413d4b;
}
.wrapper {
  position: relative;
  overflow: hidden;
}
.container {
  max-width: 982px;
  padding: 0 16px;
  margin: 0 auto;
}

a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

figure {
  margin: 0;
}

p,
ul,
ol {
  margin: 0 0 16px 0;
}

* + p,
* + ul,
* + ol {
  margin-top: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.67em 0;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 0.67em;
}